body {
    background: #dddada;
    font-family: 'Archivo Narrow', sans-serif;
    width:100%;
    height:100%;
    margin: 0%;
}

#navbar {
    height: 5%;
    display: flex;
}

#logoimg {
    height:80%;
    padding: 0.5%;
}

button {
    height:100%;
}

img.menuIcon {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    height:80%;
    padding-top:0.5%;
}

#mainbody {
    display:flex;
    flex-direction: row;
}

#maincanvas {
    height:95%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#infopanel {
    flex: 3;
    padding-left: 5%;
    padding-right: 5%;
}



#pepanel {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: text-bottom;
}

#peimage {
    width:80%;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

#petextwrapper {
    background-image: url("pain/speech_middle.png");
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;

    /* align the speech bubble background */
    background-size: 70%;
    background-repeat: repeat-y;
    background-position: center;

    /* overlap the speech bubble background with the top and bottom parts of the image, removes gaps */
    margin-top: -1px;
    margin-bottom: -1px;
}

#petext {
    width:60%;
    margin-left:20%;
}

img.speech {
    width:70%;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    transform: scaleY(-1);
}