body {
    background: #dddada;
    text-align: center;
    width: 100%;
    font-family: 'Archivo Narrow', sans-serif;
}

#maincanvas {
    border: 4px;
    border-style: dashed;
    border-color: #000;
}

#helpArea {
    text-align: left;
    visibility: hidden;
}

#iconMenu {
    text-align: center;
}

img.menuIcon {
    width:64px;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#painArea {
    text-align: center;
}

#painImage {
    width:100%;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#painTip {
    text-align: center;
    padding: 5px;
    background-image: url('pain/speech_middle.png');
    background-size: 100%;
    margin-top: -3px;
    margin-bottom: -4px;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

img.speech {
    width: 100%;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    border: 0px;    
}